@use "../variables" as *;
@use 'sass:meta';

@mixin background($filename, $coodinate: null, $color: null, $option: null, $value: null){
    @if meta.type-of($filename) != 'string'{
        @error '이미지는 파일명.확장자까지 작성해야합니다'
    }
    background: url("#{$imgUrl}#{$filename}") no-repeat $coodinate $color;

    @if $option=='size'{
        background-size: $value;
    }@else if $option=='contain'{
        background-origin: $value;
    }@else if $option=="clip"{
        background-clip: $value;
    }
}